* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #3c3a39;
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.logo {
  padding-top: 30px;
}

.hamburger-menu {
  padding-top: 45px;
  padding-right: 10px;
  align-items: flex-end;
  justify-content: space-between;
}

.primary-text {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  padding-top: 50px;
  padding-left: 20px;
  font-style: normal;
  line-height: 100px;
  letter-spacing: 0.37px;
  font-size: 40px;
}

.header {
  background: #1c1a19;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.supporting-text {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  padding-top: 50px;
  padding-left: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}

.description {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  padding-top: 15px;
  justify-content: space-evenly;
  padding-left: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  width: 327px;
  height: 123px;
  letter-spacing: 0.37px;
}

.flex-container-img {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.hero-img {
  justify-content: flex-end;
}

.social-media {
  padding-top: 30px;
}

.social-media-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 678px) {
  .description {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .primary-text {
    font-size: 30px;
    line-height: 70px;
  }

  .supporting-text {
    padding-top: 20px;
    font-size: 18px;
    line-height: 40px;
  }

  .description {
    padding-top: 10px;
    font-size: 12px;
    line-height: 24px;
    width: 100%;
  }

  .hero-img {
    clip-path: circle(50%);
  }
}
